@import "tailwindcss";


/* stylelint-disable-next-line at-rule-no-unknown */
@theme {
  --color-primary: #8bc34b;
  --color-background-light: #f7f8f6;
  --color-background-dark: #191e14;

  --font-display: "Inter", sans-serif;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@layer base {
  :root {
    --background: #f7f8f6;
    --foreground: #151612;
  }

  .dark {
    --background: #191e14;
    --foreground: #ffffff;
  }

  body {
    @apply bg-background-light dark:bg-background-dark font-display min-h-screen text-[#151612] dark:text-white;
    font-family: var(--font-display);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}